@import '../../node_modules/basiclightbox/src/styles/main.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, sans-serif;
  line-height: 1.5;
  color: #2a2a2a;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

img:hover {
  outline: 3px solid orange;
}

.photo-cards {
  display: flex;
  flex-wrap: wrap;

  margin-left: -15px;
  margin-top: -15px;
}

.photo-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-left: 15px;
  margin-top: 15px;

  flex-basis: calc(100% / 3 - 15px);
}

.search-form {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

input {
  width: 500px;
  padding: 8px;
  margin-right: 15px;
  color: grey;
  font-size: 18px;
}
button {
  border: none;
  outline: 0;
  display: block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
  width: 300px;
}

button:focus,
button:hover {
  outline: 3px solid orange;
}

.btn-load-more {
  margin: auto;
}

.is-hidden {
  display: none;
}

.stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.stats-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
